---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>A new website is coming...</h2>

<p>In the meantime, check out:</p>

<ul>
  <li><a href="https://github.com/smwoll">My GitHub.</a></li>
  <li><a href="https://twitter.com/skylandwoll">My Twitter.</a></li>
</ul>